import React, { Component } from 'react'
import axios from 'axios'
import {

} from "<%= ("../" * folder_deepness) << "../commons/index.js" %>"
import {

} from "@material-ui/core"
import { 
  AppProvider, AppConsumer, appContext 
} from "<%= ("../" * folder_deepness) << "../../contexts/AppContext" %>"

class <%= component_name %> extends Component {

  constructor(props) {
    super(props)
  }

  render() {
    const { appState, appActions } = this.props;
    const { header } = appState;
    
    return(
        <div>
            <h6><%= @component_path %></h6>
        </div>
    )
  }
}

export default appContext(<%= component_name %>)